{% extends 'base.html' %}

{% block title %}
  Scrumptious recipes
{% endblock title %}

{% block content %}

  <main>
      <form method="post">
        {% csrf_token %}
        {{ form.as_p}}
        <button>Create</button>
      </form>

      </form>
  </main>
  {% endblock content %}
  <footer>
    Made with love by Scrumptious Recipes
  </footer>
</body>
</html>