body {
    margin: 0;
    padding: 0;
}

main {
    padding: 16px;
}

footer {
    padding: 24px 0;
    background-color: #B4CF66;
    margin-top: 32px;
    padding: 32px;
}

img {
    height: 200px;
}

nav {
    background-color: #FF5A33;
    border-bottom: 1px solid #146152;
    padding: 16px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(8em, 8em));
    gap: 1em;

    text-align: center;
}

nav a {
    text-decoration: none;
    color: white;
    font-weight: bold;
    padding: 10px 0;
    border-bottom: 2px solid transparent;
    transition: border-bottom-color 0.3s;
}

nav a:hover {
    color: rgb(75, 52, 252);
}



h1 {
    color: #146152;
}


a {
    color: #44803F;
    text-decoration: none;
}

.recipe-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

.ingredients-table tr:nth-child(even) {
    background-color: rgba(0, 0, 0, 0.1);
}