{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>
    {% block title %}{% endblock title %}
  </title>
  <link rel="stylesheet" href="{% static 'css/recipes.css' %}">
</head>
<body>
    <header>
        <nav>
          <a href="{% url 'recipe_list'%}">Main page</a>
          <a href="{% url 'create_recipe' %}">Add Recipe</a>
        </nav>
      </header>
  {% block content %}{% endblock content %}
  <footer>
    Made with love by <a href="https://reversehibernation.netlify.app/">JohnZ</a>
  </footer>
</body>
</html>